<div class="home-hero-image">
  <div class="home-hero-text">
    <h1>Sweet Home</h1>
    <p>
      Find and move to your next home.
    </p>
    <button class="btn btn-primary btn-lg">Search</button>
  </div>
</div>
