<div class="container mt-5">
  <%= button_to 'Async Increment Counter', test_jobs_path, class: 'btn btn-primary' %>

  <%= button_to 'Reset Counter', counter_path(0), method: :delete, class: 'btn btn-danger' %>

    React Counter <%= react_component 'TestCounter', { counter_value: @counter_value } %>
</div>
